html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}
body input {
  display: block;
  margin-bottom: 0.5rem;
  height: 2rem;
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #5f9341;
  border-radius: 5px;
}
body button {
  height: 2rem;
  width: 6rem;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}
body .container #input-button {
  background-color: #824193;
}
body .container #url-button {
  background-color: #5f9341;
}

body .container #clear-button {
  background-color: rgb(241, 73, 73);
}
.container {
  margin: 20px;
}

.container ul {
  list-style-type: none;
  margin-top: 1rem;
}
.container ul li {
  margin-top: 0.3rem;
}
.container ul li a {
  color: #5f9341;
}
